page-onboarding {
    .background {
        //background-image: url('../assets/pict/welcome.png');
        background-color: white;
        background-repeat: no-repeat;
        background-size: cover;
    }

    ion-slides {
        display: block;
        width: 100%;
        // height: 90vh;
    }

    .swiper-pagination-bullet-active{
        background: #AB6ABA;
        opacity: 1;
    }

    .LogoMuser {
        width:50vw; /* you can use % */
        height: auto;

        position: relative;
        bottom: 5vh;
        
    }

    .LogoMuser2 {
        width:50vw; /* you can use % */
        height: auto;
        
    }

    .GambarSplash {
        width:70vw; /* you can use % */
        height: auto;

        margin: auto;
    }


    img {
        position: relative;
        
    }

    .ButtonWordWhite {
        font-size: 6vw;
        font-weight: 2px;
        color: white;
        text-transform: capitalize;
    }

    .ButtonWordPurple {
        font-size: 6vw;
        font-weight: 2px;
        color: #AB6ABA;
        text-transform: capitalize;
    }

    .ButtonWordBlack {
        font-size: 6vw;
        font-weight: 2px;
        color: #2A3524;
        text-transform: capitalize;
    }
    
    .ButtonLogin {
        height: 10vw !important;
        // // width: 50vw;
        // margin: auto;
        // margin-top: 5vh;
    }

}
