page-aqiqah {
    .Title{
        font-size: 7vw;
        color: white;   
    }

    .ButtonRight{
        font-size: 7vw;
        position: relative;
        top: 1vw;
        right: 2vw;
        text-align: right;
        color: white;
    }

    .aqiqahImage{
        width: 100vw;
        height: 30vh;
    }

    .content{
        font-size: 4vw;
        color: #202020;
        text-align: justify;

        padding-top: 1vh;
        padding-bottom: 5vh;
        padding-left: 2vh;
        padding-right: 2vh;
    
        display: block;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    ion-footer{
        height: 7vh;
    }

    .ButtonWord {
        font-size: 6vw;
        color: white;
        text-transform: capitalize;

        line-height: 7vh;

        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        
    }
}
