page-aqiqah {
    .Title{
        font-size: 1.25em;
        color: white;   
    }

    .ButtonRight{
        font-size: 2em;
        position: relative;
        right: 0.25em;
        text-align: right;
        color: white;
    }

    .aqiqahImage{
        width: 100vw;
        height: 30vh;
    }

    .content{
        font-size: 1em;
        color: #202020;
        text-align: justify;

        padding-top: 1vh;
        padding-bottom: 5vh;
        padding-left: 2vh;
        padding-right: 2vh;
    
        display: block;
        -webkit-margin-before: 0em;
        -webkit-margin-after: 0em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
    }

    ion-footer{
        height: 3em;
    }

    .ButtonWord {
        font-size: 1.5em;
        color: white;
        text-transform: capitalize;       
    }
}
