page-profil {

    .Button {
        height: 10vw !important;
        // width: 100%;
    }

    .ButtonWord {
        font-size: 5vw;
        color: white;
        text-transform: capitalize;
    }
}
