<ion-header>
  <ion-navbar>
    <ion-grid no-padding>          
          <ion-row no-padding>
            <ion-col col-4 no-padding>
                <button ion-button menuToggle>
                    <ion-icon name="menu"></ion-icon>
                </button>           
            </ion-col>
            <ion-col col-4 no-padding>    
              <img class="LogoMuser" src="assets/pict/AviqahLogo.png"/>          
            </ion-col>
            <ion-col col-4 text-right no-padding>
                <!-- <button clear ion-button class="ButtonRight"> -->
                    <ion-icon color="dark" class="ButtonRight" name="notifications"></ion-icon>
                <!-- </button>            -->
            </ion-col>
          </ion-row>
    </ion-grid>

  </ion-navbar>
  <ion-segment  [(ngModel)]="pages">
    <ion-segment-button color="light" value="terbaru">
      <div class="Header">TERBARU</div>
    </ion-segment-button>
    <ion-segment-button value="beranda">
      <div class="Header">BERANDA</div>
    </ion-segment-button>
  </ion-segment>
    <!-- <ion-segment  class="SwipedTabs-tabs"  >
        <ion-segment-button *ngFor='let tab of tabs ; let i = index ' value="IngoreMe" (click)="selectTab(i)"
        [ngClass]='{ "SwipedTabs-activeTab" : ( this.SwipedTabsSlider  && ( this.SwipedTabsSlider.getActiveIndex() === i || (  tabs.length -1 === i&& this.SwipedTabsSlider.isEnd()))) }' >
          {{tab}}
        </ion-segment-button>
    </ion-segment> -->
</ion-header>

<ion-content>
  
    <div [ngSwitch]="pages">
      <ion-list *ngSwitchCase="'terbaru'">
        <ion-slides pager>

          <ion-slide>
            <img class="slide-image" src="assets/pict/normal.png"/>
          </ion-slide>
      
          <ion-slide>
            <img class="slide-image" src="assets/pict/Sampai Jumpa.png"/>
          </ion-slide>
      
          <ion-slide>
            <img class="slide-image" src="assets/pict/Senang.png"/>
          </ion-slide>
      
        </ion-slides>     

        <ion-scroll scrollX="true" direction="x">
          <!-- <span *ngFor="let data of images"> -->
              <img (click)='update(data)' class="options" src="assets/pict/Aqiqah.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Qurban.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Donasi.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Umroh.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Aqiqah.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Qurban.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Donasi.png"/>
              <img (click)='update(data)' class="options" src="assets/pict/Umroh.png"/>
          <!-- </span> -->
        </ion-scroll>

        <ion-grid class="Card" (click)='gotoAqiqah()'>
          <ion-row no-padding>
            <ion-col col-6>
              <span  class="HeadContent">Aqiqah 
                  {{backgroundColor}}</span>
            </ion-col>
            <ion-col col-6 text-right>
                <span class="Link">selengkapnya..</span>
            </ion-col>
          </ion-row>
        </ion-grid>
        <img (click)='gotoAqiqah()' class="imageCard" src="assets/pict/Aqiqah.png"/>

        <ion-grid class="Card" (click)='gotoQurban()'>
            <ion-row no-padding>
              <ion-col col-6>
                <span class="HeadContent">Qurban</span>
              </ion-col>
              <ion-col col-6 text-right>
                  <span (click)='gotoAqiqah()' class="Link">selengkapnya..</span>
              </ion-col>
            </ion-row>
        </ion-grid>
          <img (click)='gotoQurban()' class="imageCard" src="assets/pict/Qurban.png"/>

      </ion-list>


      <!-- -------------------------------------------- -->
  
      <ion-list *ngSwitchCase="'beranda'" style="background-color: #eaeceb">
        
        <div class="StatusCard">
          <ion-grid no-padding>
            <ion-row no-padding>
              <ion-col col-2 no-padding>
                <img class="StatusPP" src="assets/pict/Profil.png"/>
              </ion-col>
              <ion-col col-10 no-padding>
                <p class="StatusSender">Dakwah Islam</p>
              </ion-col>
            </ion-row>
          </ion-grid>
          <img class="StatusImg" src="assets/pict/HomeSlide.png"/>
          <p no-padding class="StatusText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id lectus hendrerit, efficitur purus vitae, fermentum ipsum. Maecenas suscipit varius nunc non mattis. Quisque convallis enim et massa lacinia elementum.</p>
        </div>

        <div class="StatusCard">
            <ion-grid no-padding>
              <ion-row no-padding>
                <ion-col col-2 no-padding>
                  <img class="StatusPP" src="assets/pict/Profil.png"/>
                </ion-col>
                <ion-col col-10 no-padding>
                  <p class="StatusSender">Dakwah Islam</p>
                </ion-col>
              </ion-row>
            </ion-grid>
            <img class="StatusImg" src="assets/pict/HomeSlide.png"/>
            <p class="StatusText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur id lectus hendrerit, efficitur purus vitae, fermentum ipsum. Maecenas suscipit varius nunc non mattis. Quisque convallis enim et massa lacinia elementum.</p>
          </div>
  
      </ion-list>
    </div>
  
  </ion-content>

<!-- 
<ion-content text-left>
    
    
      <div id='indicator' class="SwipedTabs-indicatorSegment" [ngStyle]="{'width.%': (100/this.tabs.length)}"></div>
    <div>
      <ion-slides #SwipedTabsSlider  (ionSlideDrag)="animateIndicator($event)"
                  (ionSlideWillChange)="updateIndicatorPosition()"
                  (ionSlideDidChange)="updateIndicatorPosition()"
                  (pan)="updateIndicatorPosition()"
                  [pager]="false"
            >
        <ion-slide>
          <div>
            <ion-slides pager>

              <ion-slide>
                <img class="slide-image" src="assets/pict/HomeSlide.png"/>
              </ion-slide>
          
              <ion-slide>
                <img class="slide-image" src="assets/pict/HomeSlide.png"/>
              </ion-slide>
          
              <ion-slide>
                <img class="slide-image" src="assets/pict/HomeSlide.png"/>
              </ion-slide>
          
            </ion-slides>
          </div>
        </ion-slide>
        <ion-slide>
          <div>
            <h1>Test 1 </h1>
            <h1>Test 2 </h1>
            <h1>Test 3 </h1>
            <h1>Test 4 </h1>
            <h1>Test 5 </h1>
            <h1>Test 6 </h1>
            <h1>Test 7 </h1>
            <h1>Test 8 </h1>
            <h1>Test 9 </h1>
            <h1>Test 10 </h1>
            <h1>Test 1 </h1>
            <h1>Test 2 </h1>
            <h1>Test 3 </h1>
            <h1>Test 4 </h1>
            <h1>Test 5 </h1>
            <h1>Test 6 </h1>
            <h1>Test 7 </h1>
            <h1>Test 8 </h1>
            <h1>Test 9 </h1>
            <h1>Test 10 </h1>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </ion-content> -->