page-home {
    .LogoMuser {
        width:auto; /* you can use % */
        max-height: 7vh;
        // min-height: 56px;
        display: block; 
        margin: auto;
    }
    .ButtonRight{
        font-size: 7vw;
        position: relative;
        top: 2vw;
        right: 2vw;
    }

    .SwipedTabs-indicatorSegment
    {
        -webkit-transition: 0.3s all;
        -moz-transition:  0.3s all;
        -o-transition:  0.3s all;
        transition:  0.3s all;
        transform-origin: top 0 left 0;
        height: 1px;
	    position: relative;
	    top: -2px;
	    background-color: black !important;
    }
    .SwipedTabs-tabs ion-segment-button
    {
    	border:none !important;
    	color:gray!important;
    	background-color:#202020!important;
    }
     .SwipedTabs-tabs ion-segment-button.SwipedTabs-activeTab
    {
        color:white !important;
    	border-bottom: solid 2px white  !important;
    }
    .SwipedTabs-tabs
    {
    	// border-bottom: solid 1px black  !important;
    }


    .swiper-slide:not(.swiper-slide-active) > div {
        display:none;
    }

    .slide-zoom {
        text-align: left;
        display: block;
        width: 100%;
    }


}
