<ion-menu [content]="content">
    <ion-header no-border >
      <ion-toolbar color="aviqahPurple">
        <div *ngIf="sideMenuCustom" style="padding-bottom: 1em;">
          <img class="imageSideMenu" src="assets/pict/Profil.png"/>
          <ion-title><span class="UserName">Nama User</span><br /><span class="UserEmail">emailuser@gmail.com</span></ion-title>
        </div>
        <div *ngIf="!sideMenuCustom">
          <ion-title><span class="UserName">Aviqah</span></ion-title>
        </div>
      </ion-toolbar>
    </ion-header>
  
    <ion-content class="MenuColor MenuContent">
      <ion-list class="MenuColor">
        <button class="MenuColorContent" menuClose ion-item *ngFor="let p of pages" (click)="openPage(p)">
          <ion-icon *ngIf="p.title=='Halaman Utama'" name="md-home" class='iconSideMenu' color="dark"></ion-icon>
          <ion-icon *ngIf="p.title=='Pesanan Saya'" name="md-list" class='iconSideMenu' color="dark"></ion-icon>
          <ion-icon *ngIf="p.title=='Akun Saya'" name="md-person" class='iconSideMenu' color="dark"></ion-icon> 
          <ion-icon *ngIf="p.title=='Pusat Kontak'" name="md-information-circle" class='iconSideMenu' color="dark"></ion-icon> 
          <span class="menuSideMenu">{{p.title}}</span>
        </button>
      </ion-list>
    </ion-content>
  
  </ion-menu>
  
  <!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
  <ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>